@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Product/Shared/_Layout.cshtml";
}


<h2>Thanks! @Model.Name </h2>
Thanks for placing your order. We'll ship your goods as soon as possible. We send products to @Model.Line1.